{% extends 'base2.html' %}
{% block title %}Contacto{% endblock %}
{% block nav3 %}
<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Libros<span class="caret"></span></a>
          <ul class="dropdown-menu">
          {% if user.is_superuser %}
            <li><a href="/uploads">Uploads</a></li>
            {% endif %}
            <li><a href="/listado">Listado</a></li>
          </ul>
        </li>
{% endblock %}
 {% block datos %}
 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/datos">Datos</a></li>
            <li><a href="/usuarios">Listado</a></li>
          </ul>
        </li>
 {% endblock %}
{% block nav4 %}
    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/acerca">Acerca</a></li>
            <li><a href="/ayuda_reg">Ayuda</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/glosario">Glosario</a></li>
            <li><a href="/interes">Interés</a></li>
          </ul>
        </li>
{% endblock %}
{% block volver %}
<a href="/">Volver</a>
{% endblock %}
{% block cerrar %}
<a href="/cerrar">Cerrar Sesión</a>
{% endblock %}
{% block header %}>
<center>
<br><br><br><br><br><br>
<center>
<div class="container-fluid">
            <div class="jumbotron" style="background:#18BC9C"><font color="Black"><h1> Contacto</h1></font></div>
</center>
<!--form id="formulario" method="POST" action="">
     {% csrf_token %}
    <p><label for="id_nombre">Nombre:</label><br> <input id="id_nombre" name="nombre" type="text"></p>
    <p><label for="id_correo">Ingresa tu correo:</label><br> <input id="id_correo" name="correo" type="email"></p>
    <p><label for="id_mensaje">Mensaje:</label> <br><textarea cols="40" id="id_mensaje" name="mensaje" rows="10"></textarea></p>
    <p><input type="submit" value="Confirmar"> </p>
</form>
</center-->
<center>
<h5><label>Por favor, dejenos un comentario.</label></h5>
<br></center>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="form-group">
<label class="col-md-4 control-label" for="textinput">Nombre:</label>
<div class="col-md-4"> 
<input align="center" type="text" name="nombre" type="text" placeholder="Ingrese su nombre" class="form-control input-md" required>
</div>
</div>
<br><br><br>

<div class="form-group">
<label class="col-md-4 control-label" for="textinput">Correo:</label>
<div class="col-md-4"> 
<input name="correo" type="email" placeholder="Correo Valido" class="form-control input-md"  required>
</div>
</div>
<br><br><br>

<div class="form-group">
<label class="col-md-4 control-label" for="textinput">Mensaje:</label>
<div class="col-md-4"> 
<!--input type="text" name="descripcion" type="text" placeholder="Descripción del Libro" class="form-control input-md" onKeyUp="this.value=this.value.toUpperCase();">
</div-->
<textarea rows="5" cols="30" type="text" name="mensaje" placeholder="Coloque aquí el mensaje que desee" class="form-control input-md" required></textarea>
</div>
<br><br><br><br><br><br><br>
<center>
<h5><label>
    Sus quejas, dudas o sugerencias nos ayudan a crecer como página.
    </label> </h5>
{{mensaje}}<br>
  <input type="submit" href="#" class="btn btn-primary btn-success  " value="Enviar"></center>
</form>
</div>
<br>
{% endblock %}