<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Ingreso</title>
	</head>

	<body>
	<center>
		<h1>INGRESA</h1>
		<form id="formulario" method="POST" action="">
			{% csrf_token %}
			<table>
				<tbody>
				<tr><th>
					<label for="id_username">Usuario:</label>
				</th><td>
					<input id="id_username" maxlength="254" name="username" type="text"></td></tr>
					<tr><th>
					<label for="id_password">Contraseña:</label>
					</th><td>
					<input id="id_password" name="password" type="password">	</td></tr>
				</tbody>
				</table>
				<p><input type="submit" value="Ingresar"></p>
		</form>
			<a href="http://127.0.0.1:8000/" class="btn btn-sm btn-success">Volver</a>
			</center>
	</body>
</html>