{% extends 'base.html' %}
{% block title %}Usuario_invalido{% endblock %}
{% block barra %}
<a href="http://127.0.0.1:8000/acceso">Reintentar</a>
{% endblock %}
{% block volver %}
<a href="http://127.0.0.1:8000/">Volver</a>
{% endblock %}
{% block header %}
<center>
<div class="container-fluid">
			<div class="jumbotron"><h1>Usuario o contraseña no coinciden o no existen</h1></div>
<!--p>El usuario y la contraseña no coinciden o no existen</p-->
<!--a href="http://127.0.0.1:8000/acceso" class="btn btn-sm btn-success">Reintentar</a-->
</center>
{% endblock %}