{% extends 'base2.html' %}
{%block title%}Paginas_Interes{%endblock%}
{% block volver %}
<a href="/">Volver</a>
{% endblock %}
{% block cerrar %}
<a href="/cerrar">Cerrar Sesión</a>
{% endblock %}
{% block header %}
<br><br><br><br><br><br>
<div class="container-fluid" style="color:Black">
	<div class="form-group" style="color:Black">
		<fieldset style="color:Black">
    <center>
       <div class="container-fluid">
            <div class="jumbotron" style="background:#18BC9C"><font color="Black"><h1>Página de Interes</h1></font></div>
      <span>
      Nuestra Biblioteca Virtual pone a tu disposición enlaces a instituciones que ofrecen diversas fuentes de información en formato electrónico las cuales pueden servir como complemento de la Bibliografía Básica que utilizas y con la intención de contribuir en el desarrollo de habilidades en el proceso de búsqueda y recuperación.</span>
      </fieldset></center> </div>
      <br> 
			<div class="row destacados">
      <div class="col-xs-3">
          <div class="thumbnail">
          <a href="http://redalyc.org/"><img src="http://bibliotecavirtual.ula.edu.mx/ula/images/Recursos_Libres/redalyc.png" alt="imagen" class="img-circle" width=120px></a>
              <div class="caption">
                  <h5><i><b>Redalyc</b></i></h5>
                    <h6><i>Revistas científicas multidisciplinarias</i></h6>
              </div>
          </div>
      </div>
      
      <div class="col-xs-3">
          <div class="thumbnail">
          <a href="http://scielo.sld.cu/scielo.php"><img src="http://bibliotecavirtual.ula.edu.mx/ula/images/Recursos_Libres/scielo.png" alt="imagen" class="img-circle" width=120px></a>
              <div class="caption">
                  <h5><b><i>Scielo</i></b></h5>
                    <h6><i>Revistas científicas multidisciplinarias</i></h6>
              </div>
          </div>
      </div>

      <div class="col-xs-3">
          <div class="thumbnail">
          <a href="http://biblioteca.clacso.edu.ar/"><img src="http://bibliotecavirtual.ula.edu.mx/ula/images/Recursos_Libres/clacso.png" alt="imagen" class="img-circle" width=120px></a>
              <div class="caption">
                  <h5><i><b>CLACSO</b></i></h5>
                    <h6><i>Revistas científicas multidisciplinarias</i></h6>
              </div>
          </div>
      </div>

      <div class="col-xs-3">
          <div class="thumbnail">
          <a href="http://redie.uabc.mx/redie/issue/view/32"><img src="http://bibliotecavirtual.ula.edu.mx/ula/images/Recursos_Libres/REDIE.png" alt="imagen" class="img-circle" width=120px></a>
              <div class="caption">
                  <h5><i><b>REDIE</b></i></h5>
                    <h6>Revistas electrónica de investigación</h6>
              </div>
          </div>
      </div>

      <div class="col-xs-3">
          <div class="thumbnail">
          <a href="http://biblio.juridicas.unam.mx/"><img src="http://bibliotecavirtual.ula.edu.mx/ula/images/Recursos_Libres/bjv.png" alt="imagen" class="img-circle" width=120px></a>
              <div class="caption">
                  <h5><i><b>BJV</b></i></h5>
                    <h6>Fuentes de información de Derecho</h6>
              </div>
          </div>
      </div> 


<div class="col-xs-3">
          <div class="thumbnail">
          <a href="http://bvscuba.sld.cu/"><img src="http://bibliotecavirtual.ula.edu.mx/ula/images/Recursos_Libres/bvscuba.png" class="img-circle" width=120px></a>
              <div class="caption">
                  <h5><i><b>BVS</b></i></h5>
                    <h6>Fuentes de información de medicina</h6>
              </div>
          </div>
      </div>

      <div class="col-xs-3">
          <div class="thumbnail">
          <a href="http://www.wdl.org/es/"><img src="http://bibliotecavirtual.ula.edu.mx/ula/images/Recursos_Libres/bdmundial.png" class="img-circle" width=120px></a>
              <div class="caption">
                  <h5><i><b>BDM</b></i></h5>
                    <h6>Información multidisciplinarias</h6>
              </div>
          </div>
      </div>

      <div class="col-xs-3">
          <div class="thumbnail">
          <a href="http://www.loc.gov/"><img src="http://bibliotecavirtual.ula.edu.mx/ula/images/Recursos_Libres/libraryofcongress_rl.png" alt="imagen" class="img-circle" width=120px></a>
              <div class="caption">
                  <h5><i><b>LoC</b></i></h5>
                    <h6>Múltiples fuentes de información</h6>
              </div>
          </div>
      </div>

      <div class="col-xs-3">
          <div class="thumbnail">
          <a href="http://www.cervantesvirtual.com/"><img src="http://bibliotecavirtual.ula.edu.mx/ula/images/Recursos_Libres/bvmigueldecervantes.png" alt="imagen" class="img-circle" width=120px></a>
              <div class="caption">
                  <h5><i><b>BVMC</b></i></h5>
                    <h6>Fuentes de información multidisciplinarias</h6>
              </div>
          </div>
      </div>


      <div class="col-xs-3">
          <div class="thumbnail">
          <a href="http://www.worldcat.org/?lang=es"><img src="http://bibliotecavirtual.ula.edu.mx/ula/images/Recursos_Libres/worldcat_rl.png" alt="imagen" class="img-circle" width=120px></a>
              <div class="caption">
                  <h5><i><b>World Cat</b></i></h5>
                    <h6>Catálogo: todo tipo de fuentes de información</h>
              </div>
          </div>
      </div>

      <div class="col-xs-3">
          <div class="thumbnail">
          <a href="http://topsitesblog.com/free-online-libraries/"><img src="http://bibliotecavirtual.ula.edu.mx/ula/images/Recursos_Libres/topSites3.jpg" alt="imagen" class="img-circle" width=120px></a>
              <div class="caption">
                  <h5><i><b>TOP SITES BLOG</b></i></h5>
                    <h6>Bibliotecas Virtuales de acceso libre en Inglés</h6>
              </div>
          </div>
      </div>

      <div class="col-xs-3">
          <div class="thumbnail">
          <a href="https://doaj.org/"><img src="http://bibliotecavirtual.ula.edu.mx/ula/images/Recursos_Libres/doaj.png" alt="imagen" class="img-circle" width=120px></a>
              <div class="caption">
                  <h5><i><b>DOAJ</b></i></h5>
                    <h6>Revistas científicas multidisciplinarias</h6>
              </div>
          </div>
      </div>
</div>
</div>
{% endblock %}